<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="WorkflowRuntime" type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="httpCompress" type="HttpCompress.SectionHandler, HttpCompress, Version=6.0, Culture=neutral" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <WorkflowRuntime Name="WorkflowServiceContainer">
    <Services>
      <add type="System.Workflow.Runtime.Hosting.ManualWorkflowSchedulerService, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add type="System.Workflow.Runtime.Hosting.DefaultWorkflowCommitWorkBatchService, System.Workflow.Runtime, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </Services>
  </WorkflowRuntime>
  <appSettings>
    <!--Для браузера (Нужен WebFileControl)-->
    <add key="UploadUrl" value="~/upload" />
    <!--Файловая система-->
    <!-- <add key="UploadPath" value=""/> -->
    <add key="UploadPathExcel" value="\UsersFilesExcel\" />
    <add key="DataServiceType" value="ICSSoft.STORMNET.Business.MSSQLDataService, ICSSoft.STORMNET.Business.MSSQLDataService" />
    <add key="DefaultConnectionStringName" value="DefConnStr" />
    <add key="SqlCommandTimeout" value="3000" />
    <add key="LimitObjectsRead" value="500" />
    <add key="DRDataServiceType" value="ICSSoft.STORMNET.Business.DRDataService, ICSSoft.STORMNET.Business.DRDataService" />
    <add key="WOLVDefaultOperations" value="Refresh,Filter,Search,New,Delete,ShowMarks,EditInRow,ExportToExcel,AllowColumnResizing,LimitEdit,EditOnClickInRow,FixTableHeader,NewByExampleInRow,UserColumnsSort" />
    <add key="ShowErrorDetails" value="true" />
    <add key="UsingNamespaceForRights" value="True" />
    <add key="tfsUrl" value="http://tfs:8080/" />
    <!-- 
    <add key="ReadOnlyCentralConnectionStringName" value="ReadOnlyCS_Central"/>
    <add key="CentralConnectionStringName" value="CS_Central"/>
    -->
    <!-- Используем сохранение пользовательских настроек -->
    <add key="UseSettings" value="True" />
    <!-- Система полномочий -->
    <!-- <add key="applicationName" value="ThisAppName"/>
    <add key="CustomizationStrings" value="SERVER=Server2Name;Trusted_connection=no;DATABASE=Database2Name;USER ID=webuser;Password=123456;" />
    <add key="AzManBridgeSrvURL" value="tcp://STORM:8085/AzManBridge"/> -->
    <!-- <add key="BusinessTaskMonitorType" value="EventTaskMonitor.EventTaskMon, EventTaskMonitor, Version=1.0.0.1, Culture=neutral, PublicKeyToken=null" /> -->
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]" />
  </appSettings>
  <!-- Строки подключения к базе - в шаблоне пусто, т.к. прописывается при генерации -->
  <connectionStrings>
    <add name="DefConnStr" connectionString="SERVER=server;Trusted_connection=no;DATABASE=CodeReviewEngine;uid=CodeReviewEngine;pwd=pwd;" />
  </connectionStrings>
  <!-- описание того как же мы будем логи писать. Примеры других аппендеров: http://logging.apache.org/log4net/release/config-examples.html -->
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logging.log" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd hh:mm:ss} [%t] %m%n" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="ICSSoft.STORMNET.CustomAdoNetAppender">
      <bufferSize value="0" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <ConnectionStringName value="DefConnStr" />
      <commandText value="INSERT INTO [ApplicationLog] ([primaryKey],[Timestamp],[ThreadName],[Category],[ProcessName],[Message],[FormattedMessage]) VALUES (NEWID(), @log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="512" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="64" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="512" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="2500" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="AdoNetAppender" />
    </root>
  </log4net>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ISecurityService" type="ICSSoft.STORMNET.Security.ISecurityService, ICSSoft.STORMNET.DataObject" />
    <alias alias="CheckingInSessionMode" type="ICSSoft.STORMNET.Security.CheckingInSessionMode, CheckingLibrary" />
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <container>
      <!-- Конфигурация системы полномочий. -->
      <register type="ISecurityService" mapTo="CheckingInSessionMode">
        <lifetime type="singleton" />
        <constructor>
          <!-- Тут надо прописать имя приложения -->
          <param name="sИмяПриложения" type="System.String" value="WebApp" />
        </constructor>
      </register>

      <!-- Конфигурация системы подключения скриптов и стилей. -->
      <!-- Чтобы включить новую версию подключения скриптов и стилей (на основе плейсхолдеров), необходимо:
          1) Поменять существующую привязку IPageContentConnector на следующую:
          <register type="NewPlatform.Flexberry.Web.Http.IPageContentConnector, NewPlatform.Flexberry.Web.Http, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4e8dffecbbfff4da"
                mapTo="NewPlatform.Flexberry.Web.Http.PlaceholderPageContentConnector, NewPlatform.Flexberry.Web.Http, Version=1.0.0.0, Culture=neutral"></type>

          2) Добавить плейсхолдеры на мастеровую страницу:
          <asp:ContentPlaceHolder ID="FlexberryScripts" runat="server"></asp:ContentPlaceHolder>
          <asp:ContentPlaceHolder ID="FlexberryStyles" runat="server"></asp:ContentPlaceHolder>
          <asp:ContentPlaceHolder ID="FlexberryRawHtml" runat="server"></asp:ContentPlaceHolder>

          -->

      <register type="NewPlatform.Flexberry.Web.Http.IPageContentConnector, NewPlatform.Flexberry.Web.Http" mapTo="NewPlatform.Flexberry.Web.Http.FilterPageContentConnector, NewPlatform.Flexberry.Web.Http" />

      <!-- Конфигурация сервиса тем оформления. -->
      <register name="defaultThemeService" type="NewPlatform.Flexberry.Web.Themeable.IThemeService, ICSSoft.STORMNET.Web.AjaxControls" mapTo="NewPlatform.Flexberry.Web.Themeable.DefaultThemeService, ICSSoft.STORMNET.Web.AjaxControls" />
      <register type="NewPlatform.Flexberry.Web.Themeable.IThemeService, ICSSoft.STORMNET.Web.AjaxControls" mapTo="NewPlatform.Flexberry.Web.Themeable.SessionThemeService, ICSSoft.STORMNET.Web.AjaxControls">
        <lifetime type="singleton" />
        <constructor>
          <param name="service" type="NewPlatform.Flexberry.Web.Themeable.IThemeService, ICSSoft.STORMNET.Web.AjaxControls">
            <dependency name="defaultThemeService" />
          </param>
        </constructor>
      </register>

      <!-- Конфигурация сервиса Master-страниц. -->
      <register type="NewPlatform.Flexberry.Web.MasterPage.IMasterPageService, ICSSoft.STORMNET.Web.AjaxControls" mapTo="NewPlatform.Flexberry.Web.MasterPage.StaticMasterPageService, ICSSoft.STORMNET.Web.AjaxControls">
        <lifetime type="singleton" />
        <constructor>
          <param name="masterPageFile" type="System.String" value="~/Site1.Master" />
          <param name="placeHolderId" type="System.String" value="ContentPlaceholder1" />
        </constructor>
      </register>

      <register type="ICSSoft.STORMNET.Windows.Forms.IViewGenerator, ExternalLangDef" mapTo="NewPlatform.Flexberry.Web.Page.LimitEditorViewGenerator, NewPlatform.Flexberry.Web.LimitEditor" />
      <register type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject" mapTo="ICSSoft.STORMNET.Security.DefaultSecurityManager, ICSSoft.STORMNET.RightManager">
        <constructor />
      </register>
      <register name="securityManagerWithoutRightsCheck" type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject" mapTo="ICSSoft.STORMNET.Security.DefaultSecurityManager, ICSSoft.STORMNET.RightManager">
        <lifetime type="singleton" />
        <constructor>
          <param name="enabled" type="System.Boolean" value="false" />
        </constructor>
      </register>
    </container>
  </unity>
  <httpCompress preferredAlgorithm="gzip" compressionLevel="High">
    <excludedMimeTypes>
      <add type="image/jpeg" />
      <add type="image/gif" />
      <add type="application/excel" />
      <add type="application/pdf" />
      <add type="application/html" />
      <add type="application/msword" />
      <add type="application/vnd.oasis.opendocument.text" />
      <add type="application/jpeg" />
    </excludedMimeTypes>
    <excludedPaths>
      <add path="NoCompress.aspx" />
      <add path="ebResource.axd" />
      <add path="criptResource.axd" />
    </excludedPaths>
  </httpCompress>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" enableClientBasedCulture="true" uiCulture="auto" culture="auto" />
    <!--Убедитесь, что у вас развернута State Service service -->
    <pages validateRequest="false" enableSessionState="true" theme="Default" maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ac" namespace="ICSSoft.STORMNET.Web.AjaxControls" assembly="ICSSoft.STORMNET.Web.AjaxControls" />
      </controls>
    </pages>
    <!--SiteMap от ICSSoft для динамического переключения файлов сайтмапа
    <siteMap>
      <providers>
        <add name="DynamicSiteMapProvider" type="ICSSoft.STORMNET.Web.Tools.DynamicSiteMapProvider" siteMapFile="Web.sitemap"/>
      </providers>
    </siteMap>
    -->
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--    Авторизация
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user.  -->
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <membership defaultProvider="CaseberryMembershipProvider">
      <providers>
        <clear />
        <add name="CaseberryMembershipProvider" type="ICSSoft.STORMNET.Security.CaseberryMembershipProvider" applicationName="SLAuthSample" />
      </providers>
    </membership>
    <!--
    <roleManager defaultProvider="CaseberryRoleProvider" enabled="true">
      <providers>
        <clear/>
        <add name="CaseberryRoleProvider" type="ICSSoft.STORMNET.Security.CaseberryRoleProvider" />
      </providers>
    </roleManager>
    -->
    <!--authentication mode="Windows"/-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    <sessionState mode="StateServer" />
    <httpModules>
      <add name="RoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="ResponseFilterModule" type="NewPlatform.Flexberry.Web.Http.ResponseFilterModule, NewPlatform.Flexberry.Web.Http, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4e8dffecbbfff4da" />
    </httpModules>
    <!--<customErrors mode="On" defaultRedirect="ErrorForm.aspx">
      -->
    <!--<error statusCode="404" redirect="Error404.html"/>-->
    <!--
    </customErrors>-->
    <httpHandlers>
      <add verb="*" path="AjaxGroupEditService.asmx" type="ICSSoft.STORMNET.Web.AjaxControls.HandlerFactories.AjaxGroupEditHandlerFactory" validate="false" />
      <add verb="*" path="AjaxDataService.asmx" type="ICSSoft.STORMNET.Web.AjaxControls.HandlerFactories.AjaxDataServiceHandlerFactory" validate="false" />
      <add verb="*" path="QueryService.asmx" type="NewPlatform.Flexberry.Web.Http.WebLimitEditorHandlerFactory" validate="false" />
      <add verb="*" path="ChooseColumns.aspx" type="ICSSoft.STORMNET.Web.AjaxControls.HandlerFactories.ChooseColumnsHandlerFactory" validate="false" />
      <add verb="*" path="ListPrintForm.aspx" type="ICSSoft.STORMNET.Web.AjaxControls.HandlerFactories.ListPrintFormHandlerFactory" validate="false" />
      <add verb="*" path="LookUpForm.aspx" type="ICSSoft.STORMNET.Web.AjaxControls.HandlerFactories.PageHandlersFactory`1[[ICSSoft.STORMNET.Web.Controls.LookUpForm, CodeReviewEngine(ASP.NET Application)]], ICSSoft.STORMNET.Web.AjaxControls" validate="false" />
      <add verb="*" path="LimitEditor.aspx" type="NewPlatform.Flexberry.Web.Http.LimitEditorHandlerFactory" validate="false" />
      <add verb="*" path="LimitEditorAjaxService.asmx" type="NewPlatform.Flexberry.Web.Http.LimitEditorAjaxServiceHandlerFactory" validate="false" />
      <add verb="*" path="StimulsoftReportTemplateEditor.aspx" type="ICSSoft.STORMNET.Web.Reports.Forms.StimulsoftReportTemplateEditorHandlerFactory" validate="false" />
      <add verb="*" path="InputParameterForm.aspx" type="ICSSoft.STORMNET.Web.Reports.Forms.InputParameterFormHandlerFactory" validate="false" />
      <add verb="*" path="ObjectTileViewService.asmx" validate="false" type="ICSSoft.STORMNET.Web.AjaxControls.HandlerFactories.ObjectTileViewHandlerFactory" />
      <add path="FileControlService.axd" verb="POST" type="ICSSoft.STORMNET.Web.HttpHandlers.FileControlHandler" validate="false" />
      <add verb="*" path="MasterExpanderService.asmx" validate="false" type="ICSSoft.STORMNET.Web.AjaxControls.HandlerFactories.MasterExpanderHandlerFactory" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="RoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="ResponseFilterModule" type="NewPlatform.Flexberry.Web.Http.ResponseFilterModule, NewPlatform.Flexberry.Web.Http, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4e8dffecbbfff4da" />
    </modules>
    <handlers>
      <add name="AjaxGroupEditService" path="AjaxGroupEditService.asmx" verb="*" type="ICSSoft.STORMNET.Web.AjaxControls.HandlerFactories.AjaxGroupEditHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="AjaxDataService" path="AjaxDataService.asmx" verb="*" type="ICSSoft.STORMNET.Web.AjaxControls.HandlerFactories.AjaxDataServiceHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="QueryService" path="QueryService.asmx" verb="*" type="NewPlatform.Flexberry.Web.Http.WebLimitEditorHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="ChooseColumns" path="ChooseColumns.aspx" verb="*" type="ICSSoft.STORMNET.Web.AjaxControls.HandlerFactories.ChooseColumnsHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="ListPrintForm" path="ListPrintForm.aspx" verb="*" type="ICSSoft.STORMNET.Web.AjaxControls.HandlerFactories.ListPrintFormHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="LookUpForm" path="LookUpForm.aspx" verb="*" type="ICSSoft.STORMNET.Web.AjaxControls.HandlerFactories.PageHandlersFactory`1[[ICSSoft.STORMNET.Web.Controls.LookUpForm, CodeReviewEngine(ASP.NET Application)]], ICSSoft.STORMNET.Web.AjaxControls" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="LimitEditor" path="LimitEditor.aspx" verb="*" type="NewPlatform.Flexberry.Web.Http.LimitEditorHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="LimitEditorAjaxService" path="LimitEditorAjaxService.asmx" verb="*" type="NewPlatform.Flexberry.Web.Http.LimitEditorAjaxServiceHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FileControlService" path="FileControlService.axd" verb="POST" type="ICSSoft.STORMNET.Web.HttpHandlers.FileControlHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="ObjectTileViewHandler" path="ObjectTileViewService.asmx" verb="*" type="ICSSoft.STORMNET.Web.AjaxControls.HandlerFactories.ObjectTileViewHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="MasterExpanderHandler" path="MasterExpanderService.asmx" verb="*" type="ICSSoft.STORMNET.Web.AjaxControls.HandlerFactories.MasterExpanderHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <authentication>
        <windowsAuthentication enabled="true" />
        <anonymousAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSSoft.STORMNET.Web.Tools" publicKeyToken="dd3c9e296c34a5da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.1" newVersion="1.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>